<?xml version="1.0"?>
<config>
    <modules>
        <Webkul_ChatSystem>
            <version>1.1.2</version>
        </Webkul_ChatSystem>
    </modules>
    <default>
        <chatsystem>
            <chatsystem>
                <adminemail>text@example.com</adminemail>
                <adminname>text text</adminname>
            </chatsystem>
        </chatsystem>
    </default>
    <frontend>
        <layout>
            <updates>
                <chatsystem>
                    <file>chatsystemfront.xml</file>
                </chatsystem>
            </updates>
        </layout>
        <translate>
            <modules>
                <webkul_chatsystem>
                    <files>
                        <chatsystem>Webkul_ChatSystem.csv</chatsystem>
                    </files>
                </webkul_chatsystem>
            </modules>
        </translate>
        <routers>
            <chatsystem>
                <use>standard</use>
                <args>
                    <module>Webkul_ChatSystem</module>
                    <frontName>chatsystem</frontName>
                </args>
            </chatsystem>
            <customer>
                <args>
                    <modules>
                        <chatsystem before="Mage_Customer">Webkul_ChatSystem</chatsystem>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
	<admin>
        <routers>
            <chatsystem>
                <use>admin</use>
                <args>
                    <module>Webkul_ChatSystem</module>
                    <frontName>chatsystem</frontName>
                </args>
            </chatsystem>
            <adminhtml>
                <args>
                    <modules>
                        <chatsystem before="Mage_Adminhtml">Webkul_ChatSystem_Adminhtml</chatsystem>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
         <translate>
            <modules>
                <webkul_chatsystem>
                    <files>
                        <chatsystem>Webkul_ChatSystem.csv</chatsystem>
                    </files>
                </webkul_chatsystem>
            </modules>
        </translate>
        <menu>
            <chatsystem translate="title">
                <title>Chat System</title>
                <sort_order>100</sort_order>
                <children>
                    <chatsystem translate="title">
                        <title>Show Chat History</title>
                        <sort_order>2</sort_order>
                        <action>chatsystem/adminhtml_index/index</action>
                    </chatsystem>
                </children>
                <children>
                    <chatsystem_agent translate="title">
                        <title>Agent Details</title>
                        <sort_order>1</sort_order>
                        <action>chatsystem/adminhtml_chatsystem/index</action>
                    </chatsystem_agent>
                </children>
                <children>
                    <config translate="title">
                        <title>Configuration</title>
                        <sort_order>4</sort_order>
                        <action>adminhtml/system_config/edit/section/chatsystem</action>
                    </config>
                </children>
                <children>
                    <chatsystem_rewiew translate="title">
                        <title>Review and Comments</title>
                        <sort_order>3</sort_order>
                        <action>chatsystem/adminhtml_review/index</action>
                    </chatsystem_rewiew>
                </children>
            </chatsystem>
            <agent translate="title">
                <title>Chat</title>
                <sort_order>100</sort_order>
                 <children>
                    <config translate="title">
                        <title>Start Chat</title>
                        <action>chatsystem/adminhtml_index/startChat</action>
                    </config>
                </children>
            </agent>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <chatsystem translate="title">
                                            <title>Chat System</title>
                                        </chatsystem>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <chatsystem translate="title" module="chatsystem">
                            <title>Chat System</title>
                            <sort_order>100</sort_order>
                            <children>
                                <chatsystem>
                                    <title>Show Chat History</title>
                                    <sort_order>1</sort_order>
                                    <action>chatsystem/adminhtml_index/callgrid</action>
                                </chatsystem>
                            </children>
                            <children>
                                <chatsystem_agent>
                                    <title>Agent Details</title>
                                    <sort_order>2</sort_order>
                                    <action>chatsystem/adminhtml_chatsystem/callgrid</action>
                                </chatsystem_agent>
                            </children>
                            <children>
                                <config>
                                    <title>Configuration</title>
                                    <sort_order>2</sort_order>
                                    <action>adminhtml/system_config/edit/section/chatsystem</action>
                                </config>
                            </children>
                        </chatsystem>
                         <agent>
                            <title>Chat</title>
                            <sort_order>100</sort_order>
                             <children>
                                <config>
                                    <title>Start Chat</title>
                                    <action>chatsystem/adminhtml_index/startChat</action>
                                   </config>
                            </children>
                        </agent>
                    </children>

                </admin>
            </resources>
        </acl>
        <events>
            <admin_user_save_after>
                <observers>
                    <Webkul>
                        <type>singleton</type>
                        <class>Webkul_ChatSystem_Model_Events_Observer</class>
                        <method>adminUserSave</method>
                    </Webkul>
                </observers>
             </admin_user_save_after>
             <admin_user_delete_after>
                 <observers>
                    <Webkul>
                        <type>singleton</type>
                        <class>Webkul_ChatSystem_Model_Events_Observer</class>
                        <method>adminUserDelete</method>
                    </Webkul>
                </observers>
             </admin_user_delete_after>
            <admin_session_user_login_success>
                <observers>
                    <Is-Admin-Logged-In>
                        <type>singleton</type>
                        <class>Webkul_ChatSystem_Model_Events_Observer</class>
                        <method>adminloggedin</method>
                    </Is-Admin-Logged-In>
                </observers>
            </admin_session_user_login_success>
        </events>
        <layout>
            <updates>
                <chatsystem>
                    <file>chatsystemadmin.xml</file>
                </chatsystem>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>  
            <chatsystem>  
                <class>Webkul_ChatSystem_Block</class>  
            </chatsystem>
            <adminhtml>
                <rewrite>
                    <permissions_user_edit_tab_main>Webkul_ChatSystem_Block_Adminhtml_Permissions_User_Edit_Tab_Main</permissions_user_edit_tab_main>
                    <permissions_user_edit_form>Webkul_ChatSystem_Block_Adminhtml_Permissions_User_Edit_Form</permissions_user_edit_form>
                </rewrite>
          </adminhtml>
        </blocks>
        <helpers>
            <chatsystem>
                <class>Webkul_ChatSystem_Helper</class>
            </chatsystem>
        </helpers>
        <models>  
            <chatsystem>  
                <class>Webkul_ChatSystem_Model</class>  
                <resourceModel>chatsystem_mysql4</resourceModel>  
            </chatsystem>  
            <chatsystem_mysql4>  
                <class>Webkul_ChatSystem_Model_Mysql4</class>  
                <entities>  
                    <adminstatus>
                        <table>wk_cs_admin_status</table>  
                    </adminstatus>
                    <conversation>
                        <table>wk_cs_conversation</table>  
                    </conversation>
                    <adminnotify>
                        <table>wk_cs_notification_for_admin</table>  
                    </adminnotify>
                    <usernotify>
                        <table>wk_cs_notification_for_user</table>  
                    </usernotify>
                    <agent>
                        <table>wk_cs_agent</table>
                    </agent>
                    <review>
                        <table>wk_cs_review</table>
                    </review>
                    <customerstatus>
                        <table>wk_cs_customer_status</table>
                    </customerstatus>
                    <totalassign>
                        <table>wk_cs_assign_customer_count</table>
                    </totalassign>
                </entities>  
            </chatsystem_mysql4>  
        </models>  
        <resources>
            <chatsystem_setup>  
                <setup>  
                    <module>Webkul_ChatSystem</module>  
                </setup>  
                <connection>
                    <use>core_setup</use>
                </connection>
            </chatsystem_setup>
            <chatsystem_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </chatsystem_write>
            <chatsystem_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </chatsystem_read>
        </resources>
        <template>
            <email>
                <notification_mailq>
                    <label>Mail admin is offline</label>
                    <file>chatsystem/notification_mailq.html</file>
                    <type>html</type>
                </notification_mailq>
                <password_mail>
                     <label>Password of magento login</label>
                    <file>chatsystem/password_mail.html</file>
                    <type>html</type>
                </password_mail>
                <report_mail>
                    <label>Report to manager</label>
                    <file>chatsystem/report_mail.html</file>
                    <type>html</type>
                </report_mail>
            </email>
        </template>
    </global>
</config>